<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
	<head>
        {{ partialCached "meta.html" . }}

        <title>
            {{ block "title" . }}
                {{ .Title }} &ndash; {{ .Site.Title }}
            {{ end }}
        </title>
	</head>
	<body>
        {{ partialCached "nav.html" . .Section }}
        {{ block "page" . }}
            <div class="nav-spacer"></div>
            <main>
                <header id="main-header">
                    {{ block "header" . }}
                        <h5>{{ .Title | title }}</h5>
                    {{ end }}
                </header>
                {{ block "main" . }}{{ end }}
            </main>
        {{ end }}
        {{ partialCached "footer.html" . }}
	</body>
</html>
